body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1d2d;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(80, 1fr);
  grid-template-rows: repeat(25, 1fr);
}

.cell {
  width: 12px;  /* Adjust the width of each cell */
  height: 23px; /* Adjust the height of each cell */
  background-color: #3c3a65;
  border: 0px solid #5a587d; /* Optional: Add border to each cell */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  color: #ececec;
  font-size: 17px;
}

.blinking {
  animation: blink 1.2s infinite;
}

@keyframes blink {
  0%, 100% { background-color: #3c3a65; }
  50% { background-color: #7a707d;}
}
